@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fffdf7;
  }

  /* button  */
  .button_buy {
    @apply w-28 h-9 m-2 text-black border-none rounded-lg text-lg font-bold cursor-pointer relative overflow-hidden bg-yellow delay-100 ease-in-out;
    position: relative;
    z-index: 1;
  }

  .button_buy::after {
    content: "";
    @apply absolute z-0 left-[-20%] right-[-20%] top-0 bottom-0 bg-black text-yellow transform skew-x-[-45deg] scale-x-0 transition-all duration-500;
    z-index: -1;
  }

  .button_buy:hover::after {
    @apply scale-x-100;
  }

  .button_buy:hover {
    @apply text-yellow delay-100 ease-in-out;
  }

  /* navsm */
  /* From Uiverse.io by prakashdc */
  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* From Uiverse.io by Pradeepsaranbishnoi */
  .social-links,
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: "Titillium Web", sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }

  .social-btn svg {
    height: 24px;
    width: 24px;
  }

  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }

  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }

  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }

  #twitter svg {
    fill: #1da1f2;
  }

  #linkedin svg {
    fill: #0e76a8;
  }

  #github {
    fill: #333;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .card .content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: #fff5;
    width: 50px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
  }

  .card:hover .content::before {
    opacity: 1;
  }

  .card::before {
    opacity: 1;
    content: "";
    position: absolute;
    display: block;
    width: 250px;
    height: 500px;
    transform: rotate(0deg) translateY(50%);
    background: linear-gradient(90deg, #ffbf00, transparent);
    transition: opacity 300ms;
    animation: rotation_9018 3000ms infinite linear;
    animation-play-state: paused;
  }
  .card::after {
    opacity: 1;
    content: "";
    position: absolute;
    display: block;
    width: 250px;
    height: 500px;
    transform: rotate(0deg) translateY(-50%);
    background: linear-gradient(90deg, transparent, #212121);
    transition: opacity 300ms;
    animation: rotation_9019 3000ms infinite linear;
    animation-play-state: paused;
  }

  .card:hover::before {
    opacity: 1;
    animation-play-state: running;
  }
  .card:hover::after {
    opacity: 1;
    animation-play-state: running;
  }

  .card:hover .glass {
    opacity: 0;
  }

  .glass {
    position: absolute;
    content: "";
    display: block;
    width: 190px;
    height: 254px;
    background-color: white;
    backdrop-filter: blur(50px);
    z-index: 1;
    transition-duration: 0.5s;
  }

  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg) translateY(50%);
    }

    100% {
      transform: rotate(360deg) translateY(50%);
    }
  }
  @keyframes rotation_9019 {
    0% {
      transform: rotate(0deg) translateY(-50%);
    }

    100% {
      transform: rotate(360deg) translateY(-50%);
    }
  }

  /* From Uiverse.io by LeonKohli */
  .uv-checkbox-wrapper {
    display: inline-block;
  }

  .uv-checkbox {
    display: none;
  }

  .uv-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .uv-checkbox-icon {
    position: relative;
    width: 2em;
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition:
      border-color 0.3s ease,
      border-radius 0.3s ease;
  }

  .uv-checkmark {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 1.6em;
    height: 1.6em;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 24;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  .uv-checkbox-text {
    margin-left: 0.5em;
    transition: color 0.3s ease;
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-icon {
    border-color: #6c5ce7;
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    background-color: #6c5ce7;
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkmark {
    stroke-dashoffset: 0;
  }

  .uv-checkbox:checked + .uv-checkbox-label .uv-checkbox-text {
    color: #6c5ce7;
  }
}

@layer utilities {
  .text-stroke-2 {
    -webkit-text-stroke: 2px #ffbf00;
    /* text-stroke: 5px; */
  }
}
